/* Global begin */

* {
    box-sizing: border-box;
    scrollbar-width: thin;
}
/* @media (max-width: 768px) */
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    font-weight: normal;
}
/* God is dead */
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}

a:link{
  text-decoration: none!important;
}

@font-face {
  font-family: Starry; /* set name */
  src: url(Starborn.otf); /* url of the font */
}

/* Global end */



/* Main divs begin */

body {
    display: grid;
    place-items: center;
    background-image: url(images/wobbley.gif);
    background-size: cover;
    background-position: center, center;
    height: 100vh;
    background-attachment: fixed;
}

.main { /* The main div */
    background: rgba(255, 255, 255, 0.6);
    
    padding: 10px;
    width: 900px;
    border: 4px ridge black;
    border-radius: 40px;
}

header {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    border: 4px ridge black;
    border-radius: 30px;
    background-color: snow;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-family: Starry;
    margin-bottom: 0px;
    border-bottom: 0;
}

main {
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer {
    margin: 5px;
    padding: 10px;
    border: 4px ridge black;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: snow;
    text-align: center;
}

/* Main divs end */




/* Title begin */

@keyframes smoothbounceball{
    from { transform: translate3d(0, 0, 0);}
    to { transform: translate3d(0, 20px, 0);}
}

@keyframes bounce1{
    0% { transform: translate3d(0,-2px,0);}
    50% { transform: translate3d(0,2px,0);}
    100% { transform: translate3d(0,-2px,0);}
}
@keyframes bounce2{
    0% { transform: translate3d(0,2px,0);}
    50% { transform: translate3d(0,-2px,0);}
    100% { transform: translate3d(0,2px,0);}
}

#letter1{
    animation: bounce1 1s step-end infinite;
    color: #eb7d7d;
}
#letter2{
    animation: bounce2 1s step-end infinite;
    color: #7deb88;
}
#letter3{
    animation: bounce1 1s step-end infinite;
    color: #ebcd7d;
}
#letter4{
    animation: bounce2 1s step-end infinite;
    color: #eb7dba;
}
#letter5{
    animation: bounce1 1s step-end infinite;
    color: #7dd0eb;
}

header h1 span {
    display: inline-block;
    font-size: 100px;
    border-radius: 20px;
    padding: 10px;
}

/* Title end */




/* Navbar begin */

nav {
    margin: 0px 5px 0px 5px;
    display: flex;
    justify-content:space-around;
}

.navlink {
    border: 4px ridge black;
    background-color: snow;
    padding: 10px;
    width: 100px;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color:black;
    font-family: starry;
    font-size: 20px;
}

.navlink:hover {
    transform: translate3d(0,-2px,0);
}

#indexNav {
    color:#eb7d7d;
}

#chatNav {
    color:#7deb88;
    border-left: 0;
}

#guestNav {
    color: #ebcd7d;
    border-left: 0;
}

#buttonNav {
    color: #eb7dba;
    border-left: 0;
}

#catNav {
    color: #7dd0eb;
    border-left: 0;
}

/* Navbar end */




/* Button page begin */

#buttonIntro {
    text-align: center;
    font-size: 30px;
}

#buttonGrid{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "topLeft right"
        "bottomLeft right";

    text-align: center;
    padding: 0;
    border: 0;
    background-color: transparent;
    gap: 15px;
}

#myButtons {
    grid-area: topLeft;
    padding: 10px;
    border: 4px ridge black;
    background-color: snow;
}

#myDecos {
    grid-area: bottomLeft;
    padding: 10px;
    border: 4px ridge black;
    background-color: snow; 
}

#myFriends {
    grid-area: right;
    padding: 10px;
    border: 4px ridge black;
    background-color: snow; 
}

.creationCategory {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 25px;
    color: black;
}
.creationCategory img {max-width: 200px; max-height: 200px; border-radius: 20px;}

.creationCategory:hover {padding: 6px; border: #eb7d7d solid 4px}

.creationCategory section {align-self: center;}

/* Button page end */




/* Index grid begin */

#leftSection {
    padding: 10px;
    border: 4px ridge black;
    background-color: snow;
}

#rightSection {
    padding: 10px;
    border: 4px ridge black;
    background-color: snow;
}

#indexGrid {
    display: grid;
    grid-template-columns: 1fr 200px;
    text-align: center;
    padding: 0;
    border: 0;
    background-color: transparent;
    gap: 15px;
}

/* Index grid end */




/* Chat page */

#chatBox {
    padding: 10px;
    border: 4px ridge black;
    background-color: snow; 
}
